// 全局变量
// -----------

$font-dark: #eef1f6;

$font-selection: #38B4AF;

$font-green: #4EA75B;

$font-border: #D8D8D8;

$font-pinkblue: #9bd9fd;

$red: #ef1048;

.font-pinkblue {color: $font-pinkblue;}
.font-green {color: $font-green;}
.red {color: $red;}

// size
$font-base: 14px;
